.flexbox{
    display: flex;
    border: 3px solid black;
    height: 250px;
    /* padding: 10px; */
    flex-flow: row nowrap;
    justify-content: end;
    /* flex-wrap: nowwrap; */
    /* flex-direction: row-reverse; */
}

.flexbox div{
    display: flex;
    border: 2px solid rgb(255, 153, 0);
    width: 36px;
    height: 18px;
    /* height: 50px;
    margin-bottom: 15px; */
}