.flexbox{
    display: flex;
    border-style:solid;
    height: 250px;
    border-radius: 10px;
    justify-content: space-around;
    align-items: center;
}

.flexbox .div1{
    width: 100px;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
    color: white;
    border-radius: 50px;
    font-weight: 900;
    font-size: 32px;
}

.flexbox .div2{
    width: 100px;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: blueviolet;
    color: white;
    border-radius: 50px;
    transform: rotate(-90deg) translate(25px);
    font-weight: bold;
    font-size: 32px;
}

